<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sales Analysis</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
    <h1>Sales Analysis</h1>
    <a href="/">Home</a>

    <nav>
        <ul>
            <li><a href="/analysis/sales">Sales by Period</a></li>
            <li><a href="/analysis/by-product">Sales by Product</a></li>
            <li><a href="/analysis/by-category">Sales by Category</a></li>
        </ul>
    </nav>
</body>
</html>
