<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RPG Shop</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
    <h1>RPG Shop</h1>
    <nav>
        <ul>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/exchanges">Exchanges</a></li>
            <li><a href="/coupons/new">Coupons</a></li>
            <li><a href="/logs">Transaction Logs</a></li>
            <li><a href="/analysis">Sales Analysis</a></li>
        </ul>
    </nav>
</body>
</html>
